<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">
	<select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
		select * from zr_tbl_board where bno > 0
	]]>
	</select>
	
	<insert id="insert">
		insert into zr_tbl_board (title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>
	<!-- useGeneratedKeys="true" keyColumn="id" -->
	<insert id="insertReturnKey" useGeneratedKeys="true" keyProperty="bno" >
		insert into zr_tbl_board (title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from zr_tbl_board where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete from zr_tbl_board where bno = #{bno}
	</delete>
	
	<update id="update">
		update zr_tbl_board
		   set title = #{title}
		       ,content = #{content}
		       ,writer = #{writer}
		       ,updateDate = now()
		 where bno = #{bno} 
	</update>
	
</mapper>